<!DOCTYPE html>
<html>
    {% load static%}
    {% load leaflet_tags %}
    <head>
        {% leaflet_js %}
        {% leaflet_css %}
        <title> Our Home</title>
        <style type="text/css">
          #gis {width:1200px; height:800px;}
        </style>
        <style type="text/css" href="{% static 'routing/leaflet-routing-machine.css'%}">  </style>
        <script type="text/javascript" src="{% static 'routing/leaflet-routing-machine.js'%}"> </script>
         <style type="text/css" href="{% static 'groupedlayers/leaflet.groupedlayercontrol.min.css'%}">  </style>
        <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js'%}"> </script>
        <script type="text/javascript" src="{% static 'groupedlayers/leaflet.groupedlayercontrol.min.js'%}">
        </script>
    </head>
    <body>
        <h3> We are here</h3>
        <br>
        <script type="text/javascript">
          function our_layer(map, options){
              var osm = 'http://($).tile.openstreetmap.org/{z}[y}{x}.png';
              var topo = 'https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png';
              var datasets = new L.GeoJSON.AJAX("{% url 'subloc' %}",{
                  style: function colors(feature) {
                      switch(feature.properties.subloc){
                          case 'KIBISH':
                            return {
                                color: 'orange',
                                fillOpacity: 0.8
                            };
                        break;
                         case 'BUBISA':
                            return {
                                color: 'red',
                                 fillOpacity: 0.8
                            };
                        break;


                      }
                  },
                  onEachFeature: function(feature, layer){
                      layer.bindPopup(feature.properties.subloc.toString());
                  }
              });
              
              var points = new L.GeoJSON.AJAX("{% url 'name' %}",{
                  onEachFeature: function(feature, layer){
                      layer.bindPopup(feature.properties.name.toString());
                  }

              });
              
          
             datasets.addTo(map);
             points.addTo(map);

             var baseLayers = {
                 'OSM': osm,
                 'OpenTopo': topo
             };
             var groupedOverlays = {
                "Layers": {
                    "Sublocations": datasets,
                    "Incidences ": points
                }
                };

           L.control.groupedLayers(baseLayers, groupedOverlays).addTo(map);

        //    L.Routing.control({
        //       waypoints: [
        //        L.latLng(1.97714655371257757,39.99023437500001),
        //        L.latLng(-0.213628551981595, 35.06805472809647)
        //              ]}).addTo(map);

          }
        </script>
        {% leaflet_map "gis" callback="window.our_layer" %}
</html>
